<div class="card border-primary shadow mb-5 rounded">
    <div class="card-header">Channel Settings</div>
    <div class="card-body">
      <!-- Theme selection and other settings -->
      <label for="channelSelect"></label>
      <select id="channelSelect" class="form-control mb-4">
        <option value="" disabled selected>Select a channel...</option>
        <option value="add_channel">Add Channel</option>
    </select>
    <div id="addChannelDiv" style="display: none" class="pt-4">
        <input type="text" id="newChannelName" placeholder="Enter new channel name" class="form-control" />
        <button id="addChannelSave" class="btn btn-primary mt-4">Save New Channel</button>
    </div>
    
    <br />
    <form id="channelConfig" style="display: none" class="mt-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>TTS Enabled:</td>
            <td>
              <input type="checkbox" id="ttsEnabled" class="form-check-input" />
            </td>
          </tr>
          <tr>
            <td>Voice Enabled:</td>
            <td>
              <input type="checkbox" id="voiceEnabled" class="form-check-input" />
            </td>
          </tr>
          <tr>
            <td>Join Channel:</td>
            <td>
              <input type="checkbox" id="joinChannel" class="form-check-input" />
            </td>
          </tr>
          <tr>
            <td>Owner:</td>
            <td>
              <input type="text" id="owner" class="form-control" />
            </td>
          </tr>
          <tr>
            <td>Trusted Users:</td>
            <td>
              <textarea id="trustedUsers" class="form-control"></textarea>
            </td>
          </tr>
          <tr>
            <td>Ignored Users:</td>
            <td>
              <textarea id="ignoredUsers" class="form-control"></textarea>
            </td>
          </tr>
          <tr>
            <td>Use General Model:</td>
            <td>
              <input
                type="checkbox"
                id="useGeneralModel"
                class="form-check-input"
              />
            </td>
          </tr>
          <tr>
            <td>Lines Between Messages:</td>
            <td>
              <input
                type="number"
                id="linesBetweenMessages"
                class="form-control"
              />
            </td>
          </tr>
          <tr>
            <td>Time Between Messages:</td>
            <td>
              <input
                type="number"
                id="timeBetweenMessages"
                class="form-control"
              />
            </td>
          </tr>
          <tr>
            <td>Voice Preset:</td>
            <td>
              <select
                id="voicePreset"
                class="form-select"
                onchange="handleVoicePresetChange()"
              >
                <option value="v2/en_speaker_0">English Speaker 0</option>
                <option value="v2/en_speaker_1">English Speaker 1</option>
                <option value="v2/en_speaker_2">English Speaker 2</option>
                <option value="v2/en_speaker_3">English Speaker 3</option>
                <option value="v2/en_speaker_4">English Speaker 4</option>
                <option value="v2/en_speaker_5">English Speaker 5</option>
                <option value="v2/en_speaker_6">English Speaker 6</option>
                <option value="v2/en_speaker_7">English Speaker 7</option>
                <option value="v2/en_speaker_8">English Speaker 8</option>
                <option value="v2/en_speaker_9">English Speaker 9</option>
                <option value="custom">Custom Voice</option>
              </select>
            </td>
          </tr>
          <tr id="customVoiceRow" style="display: none">
            <td>Custom Voice:</td>
            <td>
              <select id="customVoiceSelect" class="form-select">
                <!-- Options will be populated dynamically -->
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-end d-grid gap-2">
        <button id="saveSettings" class="btn btn-lg btn-primary">Save</button>
      </div>
    </form>
  </div>
