{% extends 'beta/base.html' %}
{% block page_scripts %}
<script src="{{ url_for('static', filename='scripts/handle_voice.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/saveChannelSettings.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div id="settingsContent" class="shadow-lg p-3 mb-5 rounded">
        <h2 class="mb-4 border-bottom pb-3"><i class="fas fa-cogs me-2"></i>ANSV Bot Settings</h2>
        <!-- Start of Row for the entire content -->
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
                {% include 'settings_block.html' %}
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
                {% include 'channel_settings_block.html' %}
            </div>
        </div> 
    </div> 
</div>

<div class="loading-overlay" id="loadingOverlay" style="display: none;">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
{% endblock %}
