

<div class="card border-primary shadow mb-5 rounded">
   <div class="card-header">Settings</div>
   <div class="card-body">
       <div class="form-group">
           <label for="themeSelect">Select Theme:</label>
           <select id="themeSelect" class="form-control" onchange="changeTheme()">
             <br>
             <option value="cerulean">Cerulean</option>
             <option value="cosmo">Cosmo</option>
             <option value="cyborg">Cyborg</option>
             <option value="darkly">Darkly</option>
             <option value="flatly">Flatly</option>
             <option value="journal">Journal</option>
             <option value="litera">Litera</option>
             <option value="lumen">Lumen</option>
             <option value="lux">Lux</option>
             <option value="materia">Materia</option>
             <option value="minty">Minty</option>
             <option value="morph">Morph</option>
             <option value="pulse">Pulse</option>
             <option value="quartz">Quartz</option>
             <option value="sandstone">Sandstone</option>
             <option value="simplex">Simplex</option>
             <option value="sketchy">Sketchy</option>
             <option value="slate">Slate</option>
             <option value="solar">Solar</option>
             <option value="spacelab">Spacelab</option>
             <option value="superhero">Superhero</option>
             <option value="united">United</option>
             <option value="vapor">Vapor</option>
             <option value="yeti">Yeti</option>
             <option value="zephyr">Zephyr</option>
           </select>
           <br>
       </div>
   </div>
</div>
<div id="loadingIndicator" class="modal" tabindex="-1" role="dialog" style="display: none; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Switching Themes...</h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>